
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}


.my-enfo{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    }
    .nav-bar a {
        text-decoration: none;
        cursor: pointer;
        color: black;
        font-weight: bold;
    }
    .nav-bar{
        display: flex;
        gap: 15px;
    }
header span{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
    align-items: center;
    align-content: center;
    background-image: url(Frontend.jpg);

}


body span {
    color: blueviolet;
}

.nav-bar {
    text-align: left;
    margin-top: none;
}


.bottom{

margin-bottom: 10px;
margin-top: 400px;
margin-right: 300px;
text-decoration: none;
}

#talk{
cursor: pointer;
text-decoration: none;
background-color: white;
color: blueviolet;
border: 1px solid black;
font-family: 'Times New Roman', Times, serif;
font-size: 14px;
margin-left: 320px ;
margin-right: 10px;
border-radius: 5px;
padding: 8px 10px;

}
#talk:hover {
    background-color: blueviolet;
    color : white
}


.hire-btn , .projects-btn{
background-color: white;
color:blueviolet;
cursor: pointer;
border: 1px solid black;
padding: 8px 15px;
text-decoration: none;
margin-right: 20px;
font-family:'Times New Roman', Times, serif ;
font-size: 14px;
border-radius: 5px;
margin-bottom: 20px;
}

    .hire-btn:hover , .projects-btn:hover   {
        color: white;
        background-color: blueviolet;
    }
    
   
